#qrcode 
{
  width:160px;
  height:160px;
  margin-top:15px;
}

  

h1 
{    
    margin-left: 20px;    
    color: red;
}
  
p 
{
    color: black;
    font-size: large;
}

#example, #features 
{
    display: block;
    margin-top: 2em;
}

#playlist
{
  list-style: none;
}

#playlist li a
{
  color: black;
  text-decoration: none;
}

#playlist .current-song a
{
  color: blue;
}
  